<% @profile.form do |t| %>
  <p>
  <%= t.label "For user:" %>
  <%= collection_select(:profile, :user_id, User.all, :id, :nick) %>
  </p>
  <p>
  <%= t.name.label %>
  <%= t.name.text_field %>
  </p>
  <p>
  <%= t.surname.label %>
  <%= t.surname.text_field %>
  </p>
  <p>
  <%= t.eye_color.radio_button_label('blue') %>
  <%= t.eye_color.radio_button('blue') %>
  </p>
  <p>
  <%= t.eye_color.radio_button_label('green') %>
  <%= t.eye_color.radio_button('green') %>
  </p>
  <p>
  <%= t.eye_color.radio_button_label('other') %>
  <%= t.eye_color.radio_button('other') %>
  </p>
  <p>
  <%= t.characteristics.label %>
  <%= t.characteristics.text_area %>
  <p>
<% end %>
<%= link_to "cancel", root_path %>
