<% @profile.form do |t| %>

  <p>
    <%= t.name.label %>
    <%= t.name.text_field %>
  </p>
  <p>
    <%= t.surname.label %>
    <%= t.surname.text_field %>
  </p>
  <p>
    <%= t.maried.label "maried ?"%>
    <%= t.maried.check_box %>
  </p>
  <p>
    <%= t.password.label "your password"%>
    <%= t.password.password_field %>
  </p>
  <p>
    <%= t.hidden_value.label "hidden value"%>
    <%= t.hidden_value.hidden_field %>
  </p>
  <p>
    <%= t.picture.label "upload your photo"%>
    <%= t.picture.file_field %>
  </p>
  <p>
    <%= t.eye_color.radio_button_label('blue') %>
    <%= t.eye_color.radio_button('blue') %>
  </p>
  <p>
    <%= t.eye_color.radio_button_label('green') %>
    <%= t.eye_color.radio_button('green') %>
  </p>
  <p>
    <%= t.eye_color.radio_button_label('other') %>
    <%= t.eye_color.radio_button('other') %>
  </p>
  <p>
    <%= t.characteristics.label %>
    <%= t.characteristics.text_area %>
  </p>
<% end %>
<p>
  <%= link_to "cancel", root_path %>
</p>
