<p>New user</p>
<% @user = User.new %>
<% @user.nick = "J-23" %>
<% @user.created_at = Time.now %>
<% task0 = Task.new ; task0.id = 0 ; task0.title = "task 0" %>
<% task1 = Task.new ; task1.id = 1 ; task1.title = "task 1" %>
<% @user.tasks.push(task0) ; @user.tasks.push(task1) %>
<% @user.profile = Profile.new %>
<% @user.profile.name = "Hans" %>
<% @user.profile.surname = "Kloss" %>
<% @user.profile.eye_color = "Blue" %>
<% @user.profile.characteristics = "Black haired man at late afternoon" %>





<!--
<% form_for @user do |user_form| %>
  <% @user.tasks.each do |task| %>
    <% user_form.fields_for "tasks[]", task do |task_fields| %>
      Title: <%= task_fields.text_field :title %>
    <% end %>
  <% end %>
  <%= user_form.submit('Ok') %>
<% end %>
-->

<% r(@user).form do |user| %>
  <%= user.nick.label("User's nickname")%>
  <%= user.nick.lolspeak()%>
  <br/>
  <%= user.tasks.label("User's tasks")%>
  <br/>
  <% user.tasks.each do |task|%>
    <%= task.label("Task's title")%>
    <%= task.title.text_field%>
    <br/>
  <% end%>
  <% user.tasks.build do |task|%>
    <%= task.label("Task's title for first new task")%>
    <%= task.title.text_field%>
    <br/>
  <% end%>
  <% user.tasks.build do |task|%>
    <%= task.label("Task's title for second new task")%>
    <%= task.title.text_field%>
    <br/>
  <% end%>
  <%= user.nick.password_field(:class => "password_field_class")%>
  <br/>
  <%= user.nick.label("User's name")%>
  <%= user.profile.name.text_field(:class => "text_field_class")%>
  <br/>
  <%= user.created_at.label("User's creation date")%>
  <%= user.created_at.select({}, :class => "select_class")%>
  <br/>
  <%= user.nick.label("User's characteristics")%>
  <br/>
  <%= user.profile.characteristics.text_area(:cols => 20, :rows => 10)%>
  <br/>
  <%= user.nick.label("User's color of eyes")%>
  <br/>
  <%= user.profile.eye_color.radio_button('brown', :class => "radio_button_class")%>
  <%= user.profile.eye_color.radio_button_label('brown', 'Brown (Click on me to check the radio button)')%>
  <br/>
  <%= user.profile.eye_color.radio_button('black', :class => "another_radio_button_rb_class")%>
  <%= user.profile.eye_color.radio_button_label('black', 'Black (Click on me to check the radio button)')%>
  <br/>
  <%= user.profile.eye_color.radio_button('blue', :class => "completely_different_radio_button_class")%>
  <%= user.profile.eye_color.radio_button_label('blue', 'Blue (Click on me to check the radio button)')%>
  <br/>
  <%= submit_tag('Ok') %>
<% end%>
