<p>New user</p>
<% @user = User.new %>
<% @user.nick = "J-23" %>
<% @user.created_at = Time.now %>
<% @user.profile = Profile.new %>
<% @user.profile.name = "Hans" %>
<% @user.profile.surname = "Kloss" %>
<% @user.profile.eye_color = "Blue" %>
<% @user.profile.characteristics = "Black haired man at late afternoon" %>
<% r(@user).form do |user| %>
  <%= user.nick.label("User's nickname")%>
  <%= user.nick.lolspeak()%>
  <%= user.nick.password_field(:class => "password_field_class")%>
  <br/>
  <%= user.nick.label("User's name")%>
  <%= user.profile.name.text_field(:class => "text_field_class")%>
  <br/>
  <%= user.created_at.label("User's creation date")%>
  <%= user.created_at.select({}, :class => "select_class")%>
  <br/>
  <%= user.nick.label("User's characteristics")%>
  <br/>
  <%= user.profile.characteristics.text_area(:cols => 20, :rows => 10)%>
  <br/>
  <%= user.nick.label("User's color of eyes")%>
  <br/>
  <%= user.profile.eye_color.radio_button('brown', :class => "radio_button_class")%>
  <%= user.profile.eye_color.radio_button_label('brown', 'Brown (Click on me to check the radio button)')%>
  <br/>
  <%= user.profile.eye_color.radio_button('black', :class => "another_radio_button_rb_class")%>
  <%= user.profile.eye_color.radio_button_label('black', 'Black (Click on me to check the radio button)')%>
  <br/>
  <%= user.profile.eye_color.radio_button('blue', :class => "completely_different_radio_button_class")%>
  <%= user.profile.eye_color.radio_button_label('blue', 'Blue (Click on me to check the radio button)')%>
  <br/>
  <%= submit_tag('Ok') %>
<% end%>
