<p>New user</p>
<% @user = User.new %>
<% @user.nick = "J-23" %>
<% @user.created_at = Time.now %>
<% @user.profile = Profile.new %>
<% @user.profile.name = "Hans" %>
<% @user.profile.surname = "Kloss" %>
<% @user.profile.eye_color = "Blue" %>
<% r(@user).form do |user| %>
  <%= user.profile.name.text_field%>
  <br/>
  <%= user.created_at.select %>
  <br/>
  <%= user.profile.eye_color.radio_button('brown')%>
  <%= user.profile.eye_color.radio_button_label('brown', 'Click on me to check the radio button')%>
  <br/>
  <%= user.profile.eye_color.radio_button('black')%>
  <%= user.profile.eye_color.radio_button_label('black', 'Click on me to check the radio button')%>
  <br/>
  <%= user.profile.eye_color.radio_button('blue')%>
  <%= user.profile.eye_color.radio_button_label('blue', 'Click on me to check the radio button')%>
  <br/>
  <%= submit_tag('Ok') %>
<% end%>
