<p>
  <%= @user.nick %>
</p>
<%= @user.partial('test_partial') %>
<%= @user.partial('test_partial', '/good/bad/ugly') %>
<p>
  <%= link_to "edit", edit_user_path(@user) %>
</p>
<p>
  <%= link_to 'users', users_path %>
</p>
