<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="description" content="Representations - test app" />
  <title>Representations - test app</title>
  <%= stylesheet_link_tag 'bragi' %>
</head>
<body>
<div id="header">
  Representations
  <%= link_to "users", users_path %>
  <%= link_to "profiles", profiles_path %>
  <%= link_to "tasks", tasks_path %>
</div>
<%= flash[:notice] %>
<div id="main">
  <%= yield %>
</div>
<hr />
<p>
  <%= link_to "new user", new_user_path %>
</p>
<p>
  <%= link_to "new profile", new_profile_path %>
</p>
<p>
  <%= link_to "new task", new_task_path %>
</p>
</body>
</html>




